# Path to URDF file
krang_urdf_path =
    "/home/munzir/Me/5-Work/01-PhD/01-WholeBodyControlAttempt1/09-URDF/Krang/" +
    "Krang.urdf";

# Path to CoM parameters
com_params_path =
    "/home/munzir/Me/5-Work/01-PhD/01-WholeBodyControlAttempt1/18-OnlineCoM/" +
    "betaConvergence/bestBetaVector.txt";

# Render?
render = "false";

# Initial pose parameters
heading_init = "0.0";
q_base_init = "-1.74";
xyz_init = "0.0 0.0 0.27";
q_lwheel_init = "0.0";
q_rwheel_init = "0.0";
q_waist_init = "2.71";
q_torso_init = "0.0";
q_kinect_init = "-0.0575697";
q_left_arm_init = "  1.130 -1.000  0.000 -1.570 -0.000  1.000  -1.104";
q_right_arm_init = " -1.130  1.000 -0.000  1.570  0.000 -1.000  -0.958";

# To have initial pose as a balanced pose or not
init_with_balance_pose = "false";

# Position limits
rotating_joint_min = "-6.50"; # -4*PI/2
rotating_joint_max = "6.5"; # 4*PI/2
bending_joint_min = "-2.0944"; # -2*PI/3
bending_joint_max = "2.0944"; # 2*PI/3
torso_min = "-1.57"; # -PI/2
torso_max = "1.57"; # PI/2
waist_min = "0";
waist_max = "2.88"; # 165 degrees
