# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMakelists
!CMakeLists.txt

# params
!/cfg/
/cfg/*
!/cfg/ach_params.cfg
!/cfg/dart_params.cfg
!/cfg/krang_motors.cfg
!/cfg/amc/
/cfg/amc/*
!/cfg/amc/bly343d.cfg
!/cfg/schunk/
/cfg/schunk/*
!/cfg/schunk/prl60.cfg
!/cfg/schunk/prl80.cfg
!/cfg/schunk/prl100.cfg
!/cfg/schunk/prl120.cfg
!/cfg/waist/
/cfg/waist/*
!/cfg/waist/waist.cfg

# include
!/include/
/include/*
!/include/window.h
!/include/sim_config.h
!/include/ach_utils.h
!/include/motor.h
!/include/dart_world.h
!/include/robot_control_interface.h
!/include/sensor_group.h
!/include/motor_group.h
!/include/sensor_base.h
!/include/motor_base.h
!/include/floating_base_state_sensor.h
!/include/ach_interface.h
!/include/schunk_motor.h
!/include/amc_motor.h
!/include/waist_motor.h
!/include/file_oprs.hpp

# src
!/src/
/src/*
!/src/window.cpp
!/src/sim_config.cpp
!/src/ach_utils.cpp
!/src/motor.cpp
!/src/dart_world.cpp
!/src/robot_control_interface.cpp
!/src/floating_base_state_sensor.cpp
!/src/ach_interface.cpp
!/src/sensor_group.cpp
!/src/motor_group.cpp
!/src/sensor_base.cpp
!/src/motor_base.cpp
!/src/schunk_motor.cpp
!/src/amc_motor.cpp
!/src/file_ops.cpp
!/src/waist_motor.cpp

# exe
!/exe/
/exe/*
!/exe/krang-sim-ach.cpp

# bash
!/bash/
/bash/*
/bash/krang-sim-interface
