# Exclude all files/directories except the ones I want
/*

# .gitignore
!.gitignore

# Readme
!README.md

# CMakelists
!CMakeLists.txt

# params
!/cfg/
/cfg/*
!/cfg/ach_params.cfg
!/cfg/dart_params.cfg
!/cfg/krang_motors.cfg
!/cfg/amc/
/cfg/amc/*
!/cfg/amc/bly343d.cfg
!/cfg/schunk/
/cfg/schunk/*
!/cfg/schunk/prl60.cfg
!/cfg/schunk/prl80.cfg
!/cfg/schunk/prl100.cfg
!/cfg/schunk/prl120.cfg
!/cfg/waist/
/cfg/waist/*
!/cfg/waist/waist.cfg

# include
!/include/
/include/*
!/include/krang-sim-ach/
/include/krang-sim-ach/*
!/include/krang-sim-ach/window.h
!/include/krang-sim-ach/sim_config.h
!/include/krang-sim-ach/ach_utils.h
!/include/krang-sim-ach/motor.h
!/include/krang-sim-ach/dart_world.h
!/include/krang-sim-ach/robot_control_interface.h
!/include/krang-sim-ach/sensor_group.h
!/include/krang-sim-ach/motor_group.h
!/include/krang-sim-ach/sensor_base.h
!/include/krang-sim-ach/motor_base.h
!/include/krang-sim-ach/floating_base_state_sensor.h
!/include/krang-sim-ach/ach_interface.h
!/include/krang-sim-ach/schunk_motor.h
!/include/krang-sim-ach/amc_motor.h
!/include/krang-sim-ach/waist_motor.h
!/include/krang-sim-ach/file_ops.hpp

# src
!/src/
/src/*
!/src/window.cpp
!/src/sim_config.cpp
!/src/ach_utils.cpp
!/src/motor.cpp
!/src/dart_world.cpp
!/src/robot_control_interface.cpp
!/src/floating_base_state_sensor.cpp
!/src/ach_interface.cpp
!/src/sensor_group.cpp
!/src/motor_group.cpp
!/src/sensor_base.cpp
!/src/motor_base.cpp
!/src/schunk_motor.cpp
!/src/amc_motor.cpp
!/src/file_ops.cpp
!/src/waist_motor.cpp

# exe
!/exe/
/exe/*
!/exe/krang-sim-ach.cpp

# bash
!/bash/
/bash/*
!/bash/krang-sim-interface
